{{! -- Storing body content -- }}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Fur-Lodge </title>
    <title>FurLodge</title>
    <!-- Compressed Foundation CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <nav class="top-bar" id="mainNavigation">
        <aside class="top-bar-left">
            <h1>
                <a href="#">
                    <img id="furlodge-logo" src="./assets/images/furlodge-logo-2.png" alt="FurLodge Logo" loading="lazy">
                </a>
            </h1>
        </aside>
        <aside class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <a class="host-dropdown">Host</a>
                    <ul class="menu">
                        <li><a href="#">Become Host</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
        </aside>
    </nav>

    {{{ body }}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>

</body>

</html>