<!-- Psuedo: User search form.  --> 

<h1>Find cozy care for your beloved canine!</h1>

<!-- Let's confirm as a group the buttons and forms we wish to have on the landing page before I submit a framework -->  

<!-- Length of stay buttons -->
<div class="primary button-group">
  <a class="">Short Term</a>
  <a class="">Extended stay</a>
</div>

<!-- Location Form -->
<label>
  Location
  <textarea placeholder="City Name"></textarea>
</label>

<!-- Dog Size Buttons -->

<div class="primary button-group">
  <a class="">Small</a>
  <a class="">Medium</a>
  <a class="">Large</a>
  <a class="">Giant</a>
</div>

<!-- Submit form button --> 

<a class="button expanded" href="#">Submit</a>