<!-- Psuedo: User search form.  --> 

<h1>Find cozy care for your beloved canine!</h1>

<!-- Let's confirm as a group the buttons and forms we wish to have on the landing page before I submit a framework -->  

<!-- Length of stay buttons -->
<button type="submit" class="">Short Term</button>

<button type="submit" class="">Long Term</button> 

<!-- Location Form -->
<form class="create-form">
  <div class="form-group">
    <label for="">Location</label>
    <input type="text" id="" name="">
  </div> 
</form>

<!-- Dog Size Buttons -->
<button type="submit" class="">Small</button> 

<button type="submit" class="">Medium</button>  

<button type="submit" class="">Large</button>  

<button type="submit" class="">Giant</button>  

<!-- Submit form button --> 

<button type="submit" class="">Submit</button>  