<!-- Psuedo: User search form.  --> 

<h1>Find cozy care for your beloved canine!</h1>

<!-- Let's confirm as a group the buttons and forms we wish to have on the landing page before I submit a framework --> 