<!-- Psuedo: User search form.  -->

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-7 cell">

      <h1>Find cozy care for your beloved canine!</h1>

      <!-- Let's confirm as a group the buttons and forms we wish to have on the landing page before I submit a framework -->

      <!-- Length of stay buttons -->
      <div class="primary button-group">
        <a class="button">Short Term</a>
        <a class="button">Extended stay</a>
      </div>

      <!-- Location Form -->
      <div class="input-group">
        <label for="location">Location: </label>
        <input type="location" id="location" name="location" class="input-group-field" required>
      </div>

      <!-- Dog Size Buttons -->

      <div class="primary button-group">
        <a class="button">Small</a>
        <a class="button">Medium</a>
        <a class="button">Large</a>
        <a class="button">Giant</a>
      </div>

      <!-- Submit form button -->

      <button class="button findhost-btn">Find Your Host!</button>

    </div>
  </div>
</div>