<!-- Psuedo: Form to enter E-mail/Password . Alert if password fail. Redirect to profile.hbs upon successful login. -->

<h3>Host Sign In</h3> 

<!-- Forms for Host Sign-Up -->

<!-- Email -->

<form class="create-form">

  <div class="form-group">
    <label for="">Email:</label>
    <input type="text" id="" name="">
  </div> 

</form>
<!-- Password -->

<form class="create-form">

  <div class="form-group">
    <label for="">Password:</label>
    <input type="text" id="" name="">
  </div>

</form>

<!-- Button to confim host info -->
<button type="submit" class="">Become Host</button>