<!-- Psuedo: Form to enter E-mail/Password . Alert if password fail. Redirect to profile.hbs upon successful login. -->

<main class="card grid-container grid-x align-center login">
        <h3>Login</h3>
        <form id="search-form">
            <div class="grid-container grid-x grid-padding-x">
                <label class="cell">Email
                    <input class="email" type="email" placeholder="Email">
                </label>
                <label class="cell">Password
                    <input class="password" type="password" placeholder="Password">
                    <input class="form-input" type="text" placeholder="Email">
                </label>
                <button class="button primary expanded cell login-btn" href="#">Login</button>
            </div>
        </form>
    </main>