<!-- Psuedo: Form to enter E-mail/Password . Alert if password fail. Redirect to profile.hbs upon successful login. -->

<main class="card grid-container grid-x align-center login">
        <h3>Login</h3>
        <form class="login">
            <div class="grid-container grid-x grid-padding-x">
                <label class="cell">Email
                    <input type="email" class="form-input form-control" id="email-input" placeholder="Email">
                </label>
                <label class="cell">Password
                    <input type="password" class="form-input form-control" id="password-input" placeholder="Password">
                </label>
                <button class="button primary expanded cell login-btn">Login</button>
            </div>
        </form>
    </main>