<!-- Psuedo: Form to enter E-mail/Password . Alert if password fail. Redirect to profile.hbs upon successful login. -->


<div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <h1 class="login-box-title">Login To Your Host Profile</h1>
        <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
        <input class="login-box-input" type="password" name="password" placeholder="Password" />
        <input class="login-box-submit-button" type="submit" name="login_submit" value="Sign me up" />
      </div>
    </div>
  </div>
</div>

