<!-- Psuedo: Form to enter E-mail/Password . Alert if password fail. Redirect to profile.hbs upon successful login. -->

<form>
  <div class="form-icons">
    <h4>Login to Your Host Account</h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
      <input class="input-group-field" type="text" placeholder="Email">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <input class="input-group-field" type="text" placeholder="Password">
    </div>
  </div>

  <button class="button expanded">Login</button>
</form>


