<!-- Psuedo: A series of forms for the host to enter their information (submit/update/delete functionality) --> 

<!-- Host Profile -->  

{{!-- temporary h1 --}}
<h1>Profile Page</h1>

{{!-- commented out varialbes temporarily to check if profile page path works --}}
<div class="">
    <ul>
        {{!-- {{#each}} --}}
            {{!-- {{  }} --}}
        {{!-- {{/each}} --}}
    </ul>
</div>

<!-- Profile of seeker you are currently booked with --> 

<div class="">
    <ul>
        {{!-- {{#each}} --}}
        <li>
            {{!-- {{seeker?}} --}}
        </li>
        {{!-- {{/each}} --}}
    </ul>
</div>