<!-- Psuedo: New Hosts sign-up. Forms for First Name/Last Email/Password -->


    <!-- seeker info -->

<div class="signup-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="signup-box-form-section">
        <h1 class="signup-box-title">Become a Host!</h1>
        <input class="signup-box-input" type="email" name="email" placeholder="E-mail" />
        <input class="signup-box-input" type="password" name="password" placeholder="Password" />
        <input class="signup-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
      </div>
    </div>
  </div>
</div>