<main class="card grid-container grid-x align-center">
  <h3>Become FurLodge Host</h3>
  <form id="search-form">
    <div class="grid-container grid-x grid-padding-x">
      <label class="medium-6 cell">Email:
        <input class="form-input" type="text" placeholder="Email">
      </label>
      <label class="medium-6 cell">Password:
        <input class="form-input" type="text" placeholder="Password">
      </label>
      <label class="medium-6 cell">First Name:
        <input class="form-input" type="text" placeholder="First Name">
      </label>
      <label class="medium-6 cell">Last Name:
        <input class="form-input" type="text" placeholder="Last Name">
      </label>
      <label class="medium-6 cell">Phone Number:
        <input class="form-input" type="text" placeholder="Phone Number">
      </label>
      <label class="medium-6 cell">City:
        <input class="form-input" type="text" placeholder="City">
      </label>
      <label class="cell">
        Bio?
        <textarea class="bio" placeholder="Tell us about yourself..."></textarea>
      </label>
      <fieldset class="fieldset medium-6 cell">
        <legend>Open to sit:</legend>
        <input type="checkbox" name="petType" value="Red" id="dogCare" required>
        <label class="choice-label" for="dogCare">
          <i class="fas fa-dog"></i>
          Dog
        </label>
        <input type="checkbox" name="petType" value="Red" id="catCare" required>
        <label class="choice-label" for="catCare">
          <i class="fas fa-cat"></i>
          Cat
        </label>
      </fieldset>
      <fieldset class="fieldset medium-6 cell">
        <legend>Type of sitting:</legend>
        <input type="checkbox" name="careType" value="Red" id="boardingCare" required>
        <label class="choice-label" for="boardingCare">
          <i class="fas fa-suitcase"></i>
          Boarding
        </label>
        <input type="checkbox" name="careType" value="Red" id="dayCare" required>
        <label class="choice-label" for="dayCare">
          <i class="fas fa-cloud-sun"></i>
          Day Care
        </label>
      </fieldset>
      <fieldset class="fieldset cell">
        <legend>Pet Size Preference:</legend>
        <input id="small-signup" type="checkbox">
        <label class="size-choice-label" for="small-signup">0-15lbs</label>
        <input id="medium-signup" type="checkbox">
        <label class="size-choice-label" for="medium-signup">15-40lbs</label>
        <input id="large-signup" type="checkbox">
        <label class="size-choice-label" for="large-signup">40-100lbs</label>
        <input id="giant-signup" type="checkbox">
        <label class="size-choice-label" for="giant-signup">100+</label>
      </fieldset>
      <label class="medium-6 cell">
        Maximum number of pets willing to sit: (1-5)
        <input class="form-input" type="number" value="1" min="1" max="5">
      </label>
      <label class="medium-6 cell">
        Rate/Pet/Day: ($20-$100)
        <input class="form-input" type="number" value="20" min="20" max="100">
      </label>
      <fieldset class="fieldset cell">
        <input id="availability" type="checkbox">
        <label class="size-choice" for="availability">I Am Available Immediately</label>
      </fieldset>
      <button class="button primary expanded cell signup-btn" href="#">Become Host</a>
    </div>
  </form>
</main>