<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-7 cell">
      
      <form class="signup">
        <div class="form-icons">
          <h4>Become a Host on Fur-Lodge!</h4>

          <!--   Email   -->
          <div class="input-group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" class="input-group-field" required>
          </div>
        

          <!--   Password   -->
          <div class="input-group">
            <label for="pasword">Password: </label>
            {{!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" --}}
            <input type="password" id="password" name="password" class="input-group-field" required>
          </div>
          

          <!-- First name  -->
          <div class="input-group">
            <label for="first-name">First Name: </label>
            <input type="text" id="first-name" name="first_name" class="input-group-field" required>
          </div>
          


          <!-- last name  -->
          <div class="input-group">
            <label for="last-name">Last Name: </label>
            <input type="text" id="last-name" name="last_name" class="input-group-field" required>
          </div>
          

          <!-- Phone  -->
          <div class="input-group">
            <label for="phone">Phone: </label>
            <input type="text" id="phone" name="phone" class="input-group-field" pattern="[0-9]{10}"
              title="Phone number should be 10 digit number without separators." required>
          </div>
          

          <!-- City-->
          <div class="input-group">
            <label for="city"> City: </label>
            <input type="text" id="city" name="city" class="input-group-field" required placeholder="City Name">
          </div>
          

          <!-- Bio -->
          <div class="input-group">
            <label for="bio"> Bio: </label> 
            <textarea type="text" id="bio" name="bio" class="input-group-field" rows="4" cols="30" required
              placeholder="Introduce yourself to other pet's owners ... "></textarea>
          </div>
          

          <!--  Dogs / cats  -->
          <div class="input-group">
            <label for="pet-type">Open to sit: </label>
            <input type="checkbox" name="dog" id="dog" value="1" aria-labelledby="pet-type dog">  Dogs
            <input type="checkbox" name="cat" id="cat" value="1" aria-labelledby="pet-type cat"> Cats
          </div>
          

          <!-- Rate using Number box -->
          <div class="input-group">
            <label for="rate">Rate / Pet / Day: $ </label>
            <input type="number" id="rate" name="rate" class="input-group-field" value="20" min="20" max="100" required>
          </div>
          

          <!-- Short-term / Long-term   -->
          <div class="input-group">
            <label for="sit-type">Sit Type: </label>
            <input type="checkbox" name="short_term" value="1" id="short-term" aria-labelledby="sit-type day sitting"> Day
            Sitting
            <input type="checkbox" name="long_term" value="1" id="long-term" aria-labelledby="sit-type boarding">Boarding
          </div>
          

          <!-- Pet_amt -->
          <div class="input-group">
            <label for="pet-amount">Maxium number of pets to sit per day: </label>
            <input type="number" id="pet-amount" name="pet_amt" class="input-group-field" value="1" min="1" max="5"
              required>
          </div>
          

          <!-- Pet Size -->
          <div class="input-group">
            <label for="size-preference">Pet Size Preference: </label> 
            <input type="checkbox" name="small" value="1" id="small" aria-labelledby="size-preference small"> 0-15lbs
            <input type="checkbox" name="med" value="1" id="medium" aria-labelledby="size-preference medium"> 16-40lbs
            <input type="checkbox" name="large" value="1" id="large" aria-labelledby="size-preference large"> 41-100lbs
            <input type="checkbox" name="giant" value="1" id="giant" aria-labelledby="size-preference giant"> 100+lbs
          </div>
          
          <!-- Availability  -->
          <div class="input-group">
            <input type="checkbox" id="availability" name="availabile" value="1" class="input-group-field">
            <label for="availability">Yes, I am available immediately</label>
          </div>
          

          <button class="button signup-btn">Sign Up</button>
        </form>
      
      
      </div>
   
   </div>
      
  </div>