<!-- Psuedo: New Hosts sign-up. Forms for First Name/Last Email/Password -->

<h3>Host Sign Up</h3> 

<!-- Forms for Host Sign-Up -->


<!-- Email -->

<form class="create-form">

  <div class="form-group">
    <label for="">Email:</label>
    <input type="text" id="" name="">
  </div> 


<!-- Password -->

<form class="create-form">

  <div class="form-group">
    <label for="">Password:</label>
    <input type="text" id="" name="">
  </div>

<!-- Button to submit host info -->
<button type="submit" class="">Become Host</button>